<!DOCTYPE html>
<html>
<head>
	<title><%= user.username %> - 商品信息</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container" id="page-index">
		<%- include promptMessage %>
		<h3 class="text-center"><%= user.username %> - 货品信息</h3>
		<div class="row">
			<div class="col-xs-12">
				货品名称：<%= product.name %>
			</div>
			<div class="col-xs-12">
			编号：<%= product.artno %>
			</div>
			<div class="col-xs-12">
			产地：<%= product.place %>
			</div>
			<div class="col-xs-12">
			价格：<%= product.price %>
			</div>
			<div class="col-xs-12">
			总库存：<%= product.stock %>
			</div>
			<div class="col-xs-12">
			<% product.imgs.forEach(function(img){ %>
				<div>图片：</div>
				<div class="col-xs-4 pro-img-item">
					<img src="/avatar/<%= img %>">
				</div>
			<% }); %>
			</div>
			<div class="col-xs-4">
				<button type="submit" class="btn btn-info center-block submit-btn">
					<a href="javascript:;">返回列表</a>
				</button>
			</div>
			<div class="col-xs-4">
				<button type="submit" class="btn btn-info center-block submit-btn">
					<a href="javascript:;">修改信息</a>
				</button>
			</div>
			<div class="col-xs-4">
				<button type="submit" class="btn btn-info center-block submit-btn">
					<a href="/uploadImg">添加图片</a>
				</button>
			</div>
		</div>
	</div>
</body>
</html>
