<!DOCTYPE html>
<html>
<head>
	<title><%= user.username %> - 商品信息</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	
	<style>
		.range-item,
		.price-item {
			padding: 0;
		}
		
		.pro-img-item {
			margin-bottom: 5px;
		//	max-height: 77px;
		//	overflow: hidden;
		}
		.pro-img-item img {
			width: 100%;
			height: auto;
			border: 1px solid #ccc;
		}
	</style>
</head>
<body>
	<div class="container" id="page-index">
		<%- include promptMessage %>
		<h3 class="text-center"><%= user.username %> - 货品信息</h3>
		<div class="row">
			<div class="col-xs-12">
				货品名称：<%= product.name %>
			</div>
			<div class="col-xs-12">
				编号：<%= product.artno %>
			</div>
			<div class="col-xs-12">
				产地：<%= product.place %>
			</div>
			<div class="col-xs-12">
				<div>起批量：</div>
				<div class="col-xs-3 text-center range-item">1 - <%= product.range[0] %></div>
				<div class="col-xs-5 text-center range-item"><%= product.range[0]+1 %> - <%= product.range[1] %></div>
				<div class="col-xs-4 text-center range-item">≥ <%= product.range[1]+1 %></div>
			</div>
			<div class="col-xs-12">
				<div>价格(元)：</div>
				<div class="col-xs-3 text-center price-item">￥<%= product.price[0] %></div>
				<div class="col-xs-5 text-center price-item">￥<%= product.price[1] %></div>
				<div class="col-xs-4 text-center price-item">￥<%= product.price[2] %></div>
			</div>
			<div class="col-xs-12">
				总库存：<%= product.stock %>
			</div>
			<div class="col-xs-12">
				<div>图片：</div>
				<% product.imgs.forEach(function(img){ %>
				<div class="col-xs-4 pro-img-item">
					<img src="/avatar/<%= img %>">
				</div>
				<% }); %>
			</div>
			<div class="col-xs-4">
				<button type="submit" class="btn btn-info center-block submit-btn">
					<a href="/">返回列表</a>
				</button>
			</div>
			<div class="col-xs-4">
				<button type="submit" class="btn btn-info center-block submit-btn">
					<a href="javascript:;">修改信息</a>
				</button>
			</div>
			<div class="col-xs-4">
				<button type="submit" class="btn btn-info center-block submit-btn">
					<a href="/uploadImg">添加图片</a>
				</button>
			</div>
		</div>
	</div>
</body>
</html>
