<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/index.css' />
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/javascripts/submitProduct.js"></script>
</head>
<body>
	<div class="container" id="page-index">
		<%- include promptMessage %>
		<h3 class="text-center"><%= user.username %> - 货品列表</h3>
		<div class="row">
			<% products.forEach(function(product) { %>
			<div class="col-xs-12">
				<div class="product-item clearfix">
					<div class="col-xs-3 product-img text-center">
						<% if(product.imgs.length == 0) { %>
							暂无图片
						<% } else { %>
							<img src="/avatar/<%= product.imgs[0] %>">
						<% } %>
					</div>
					<div class="col-xs-9 product-msg">
						<div>货品名：<%= product.name %></div>
						<div>货号：<%= product.artno %></div>
						<div>库存：<%= product.stock %></div>
					</div>
				</div>
			</div>
			<% }); %>
			<button class="btn btn-info center-block">
				<a href="/product">添加货品</a>
			</button>
		</div>
	</div>
</body>
</html>
